.client-section {
  width: 100%;
}

.client-section p {
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}

.client-section .clients-wrapper {
  width: 100%;
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(6, minmax(80px, 175px));
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.cards-section {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  gap: 28px;
  margin-top: 180px;
  align-items: center;
  justify-content: center;
}
.cards-section-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.cards-section .card {
  border-radius: 3px;
  background: rgba(228, 238, 252, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}
.cards-section .card h3 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.cards-section .card p {
  color: #b4bcd0;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: 26px;
}
.why-prismatic-section {
  margin-top: 180px;
}
.why-prismatic-section img {
  margin-top: 40px;
}
.intelligent-section {
  margin-top: 180px;
}
.intelligent-card-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  gap: 28px;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}
.intelligent-card-section-wrapper {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
}

.intelligent-card-section .card {
  border-radius: 4px;
  background: rgba(228, 238, 252, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 20px;
  height: 240px;
}
.intelligent-card-section .card h3 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  margin-top: 24px;
  margin-bottom: 0;
}
.intelligent-card-section .card p {
  color: #b4bcd0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 0;
}
.image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.about-us-section {
  margin-top: 100px;
}
.about-us-section .about-us-cards {
  width: 100%;
  margin-top: 60px;
  gap: 30px;
}
.about-us-section .about-us-cards .card {
  padding: 30px;
  gap: 30px;
  border-radius: 3px;
  border: 1px solid #3d3e3f;
  background: #2b2b2c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.about-us-section .about-us-cards p {
  color: #fff;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
  margin: 0;
}
.about-us-section .about-us-cards img {
  width: 1px;
height: 60px;
}
.about-us-section .about-us-cards span {
  color: #B4BCD0;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}